@model Vidly.Models.Movie

@{
    ViewBag.Title = "MovieById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@Model.Name</h3>
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @Model.ReleaseDate.ToString("dddd, dd MMMM yyyy")</li>
        <li>Date Added: @Model.DateAdded.ToString("dddd, dd MMMM yyyy")</li>
        <li>Number In Stock: @Model.NumberInStock</li>
    </ul>
</div>
